@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-auto !no-scrollbar;
}

.container {
  @apply max-w-[1200px] mx-auto px-5 md:px-12;
}

button:focus,
input:focus,
text-area:focus {
  outline: none;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
